section#service
  .grid.-gutter28
    .grid__cell.-size4of12.-smFull
      section
        span.icon.u-mb20
          img(src='img/heart.svg', width='60', height='60', alt='')
        h1.u-mb20 訪問カウンセリング
        p.u-mb20.
          カウンセラーが定期的に企業を訪問するサービスです。人間関係の悩みやストレスにより体調を崩している方や仕事で悩んでいる方に個人カウンセリングを行い問題解決に向けた支援を行います。また医療が必要な場合は適切な機関を紹介し医師と連携してケアをします。このほか部署内の問題や部下の相談などについては人事担当、管理職の方へのコンサルティングを行います。
        table.price
          tr
            th 月1回（3時間）
            td 30,000円
          tr
            th 月2回（3時間ｘ2）
            td 50,000円
    .grid__cell.-size4of12.-smFull
      section
        span.icon.u-mb20
          img(src='img/clipboard.svg', width='60', height='60', alt='')
        h1.u-mb20 ストレスチェック
        p.u-mb20.
          平成27年度から従業員50名以上の企業に対してストレスチェックが義務付けられました。この制度を活用してメンタルヘルスを向上させるため、嘱託の産業医と協力してストレスチェックの実施をいたします。衛生委員会への参加、テストの実施、高ストレス者への対応、結果の分析、職場改善への提言まで包括的に関わりより有効な対策として高めていきます。
        table.price
          th 年1回
          td 人数 × 1000円
    .grid__cell.-size4of12.-smFull
      section
        span.icon.u-mb20
          img(src='img/chat.svg', width='60', height='60', alt='')
        h1.u-mb20 研修
        p.u-mb20.
          メンタルヘルス対策の一次予防（未然防止）で重要な役割を担うのが研修です。自らのストレスに気づき適切な対処ができるように、また人事担当、管理職の方が部下の様子を察知して適切な関わりができるようにメンタルヘルスの知識やスキルを一緒に学んでいきます。セルフケア研修（全従業員向け）とラインケア研修（管理職向け）があります。
        table.price
          th 1回（2時間）
          td 30,000円
