section#counselor
  .image: img(src='img/counselor.jpg', width='120', height='120' alt='')
  h1 西澤 佳代子
  p 臨床心理士
  div.u-m28
    .grid.-gutter28
      .grid__cell.-size6of12.-smFull
        section
          h1.u-mb20 略歴
          dl.history.u-mb20
            dt yyyy年mm月
            dd 慶応義塾大学文学部史学科 卒業
            dt yyyy年mm月
            dd PR会社勤務（結婚・出産により退職）
            dt yyyy年mm月
            dd 放送大学にて臨床心理学基礎を履修、卒業
            dt yyyy年mm月
            dd 東京国際大学大学院臨床心理研究科博士課程前期 卒業
            dt yyyy年mm月
            dd 産業メンタルヘルス研修講座 修了（主催 東京都精神神経科診療所協会）
            dt yyyy年mm月
            dd EMDRトレーニングパートⅡ 修了（日本EMDR学会）
            dt yyyy年mm月
            dd 公立小学校で1年間カウンセラーとして勤務
            dt 2015年mm月
            dd 外務省人事課業務復帰支援室に5年半勤務 退職
      .grid__cell.-size6of12.-smFull
        section
          h1.u-mb20 資格
          dl.history
            dt 2010年mm月
            dd 臨床心理士 取得
            dt 2011年mm月
            dd 家族心理士 取得
