section#counselor
  .image: img(src='img/counselor.jpg', width='120', height='120' alt='')
  h1 西澤 佳代子
  p 臨床心理士
  div.u-m28
    .grid.-gutter28
      .grid__cell.-size6of12.-smFull
        section
          h1.u-mb20 略歴
          dl.history.u-mb20
            dt 1975年03月
            dd 慶応義塾大学文学部史学科 卒業
            dt 1979年04月
            dd PR会社（5年間）勤務
            dt 2007年03月
            dd 放送大学教養学部（心理学）卒業
            dt 2009年03月
            dd 東京国際大学大学院臨床心理研究科博士課程前期 卒業
            dt 2009年04月
            dd 中野区立小学校こころの相談員（1年間）勤務
            dt 2009年10月
            dd 外務省人事課業務復帰支援室（5年半）勤務
            dt 2012年03月
            dd 産業メンタルヘルス研修講座（東京都精神神経科診療所協会）修了
            dt 2013年08月
            dd EMDRトレーニングPartⅡ（日本EMDR学会）修了
            dt 2015年08月
            dd いちょう心理オフィス 開業
            dt 2016年04月
            dd 民間企業顧問(心理アドバイザー)
            dt 2018年04月
            dd 東京都スクールカウンセラー 練馬区立小学校勤務
      .grid__cell.-size6of12.-smFull
        section
          h1.u-mb20 資格
          dl.history
            dt 2010年04月
            dd 臨床心理士（日本臨床心理士資格認定協会）
            dt 2011年04月
            dd 家族心理士（日本家族心理士資格認定機構）
