section#about
  .grid.-middle
    .grid__cell.-fill.-smFull
      .content
        h1.u-mb20 Face to Faceで働く人をサポート！
        p.u-mb12.
          社会や職場環境、家庭のありかたが大きく変化するなかで、職場や家庭でのストレスによってメンタルヘルスに不調をきたす従業員が増加する傾向にあります。こうした状況を踏まえ、国もストレスチェック制度の導入など企業のメンタルヘルス対策への後押しをはじめ、今やこころの病を抱えた従業員へのサポートに対するニーズが高まっています。
        p.
          多くのEAP（従業員支援プログラム）といわれる外部相談機関は、メールや電話によるカウンセリングサービスを行っていますが、いちょう心理オフィスは、個人との面談を通して問題解決に向けたよりきめ細かな支援をモットーとしています。<br>
          働く人一人ひとりが自分の能力を発揮し、豊かな人生を過ごせるようになること、そして、企業の組織全体がいきいきとした職場になることを目指してサービスを提供いたします。
    .grid__cell.-smFull.-smFirst
      .image: img(src='/img/about.jpg', alt='')
