/**
 * Vertical alignment
 */

.u-vaT {
  vertical-align: top !important;
}

.u-vaM {
  vertical-align: middle !important;
}

.u-vaB {
  vertical-align: bottom !important;
}

/* All margins */

.u-m0 {
  margin: 0 !important;
}

.u-m4 {
  margin: 4px !important;
}

.u-m8 {
  margin: 8px !important;
}

.u-m12 {
  margin: 12px !important;
}

.u-m16 {
  margin: 16px !important;
}

.u-m20 {
  margin: 20px !important;
}

.u-m24 {
  margin: 24px !important;
}

.u-m28 {
  margin: 28px !important;
}

.u-m32 {
  margin: 32px !important;
}

.u-m36 {
  margin: 36px !important;
}

.u-m40 {
  margin: 40px !important;
}

/* Top margin */

.u-mt0 {
  margin-top: 0 !important;
}

.u-mt4 {
  margin-top: 4px !important;
}

.u-mt8 {
  margin-top: 8px !important;
}

.u-mt12 {
  margin-top: 12px !important;
}

.u-mt16 {
  margin-top: 16px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt24 {
  margin-top: 24px !important;
}

.u-mt28 {
  margin-top: 28px !important;
}

.u-mt32 {
  margin-top: 32px !important;
}

.u-mt36 {
  margin-top: 36px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

/* Right margin */

.u-mr0 {
  margin-right: 0 !important;
}

.u-mr4 {
  margin-right: 4px !important;
}

.u-mr8 {
  margin-right: 8px !important;
}

.u-mr12 {
  margin-right: 12px !important;
}

.u-mr16 {
  margin-right: 16px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mr24 {
  margin-right: 24px !important;
}

.u-mr28 {
  margin-right: 28px !important;
}

.u-mr32 {
  margin-right: 32px !important;
}

.u-mr36 {
  margin-right: 36px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

/* Bottom margin */

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb4 {
  margin-bottom: 4px !important;
}

.u-mb8 {
  margin-bottom: 8px !important;
}

.u-mb12 {
  margin-bottom: 12px !important;
}

.u-mb16 {
  margin-bottom: 16px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb24 {
  margin-bottom: 24px !important;
}

.u-mb28 {
  margin-bottom: 28px !important;
}

.u-mb32 {
  margin-bottom: 32px !important;
}

.u-mb36 {
  margin-bottom: 36px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

/* Left margin */

.u-ml0 {
  margin-left: 0 !important;
}

.u-ml4 {
  margin-left: 4px !important;
}

.u-ml8 {
  margin-left: 8px !important;
}

.u-ml12 {
  margin-left: 12px !important;
}

.u-ml16 {
  margin-left: 16px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-ml24 {
  margin-left: 24px !important;
}

.u-ml28 {
  margin-left: 28px !important;
}

.u-ml32 {
  margin-left: 32px !important;
}

.u-ml36 {
  margin-left: 36px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}
