header#header(data-scroll-header, data-gumshoe-header)
  .grid.-middle
    .grid__cell.-fill.-smFull
      h1.logo: a(href='/', data-scroll): img(src='/img/logo.svg', width="247", height='40', alt='いちょう心理オフィス')
    .grid__cell.-smHidden
      nav: ol(data-gumshoe)
        li
          a(href='#service', data-scroll) サービス・料金
        li
          a(href='#counselor', data-scroll) カウンセラー紹介
        li
          a(href='#footer', data-scroll) お問い合わせ
