footer#footer
  p.u-mb16
    a#contact.contact(href='email', rel='nofollow') お問い合わせ
  p.u-mb8
    span.u-mr20 TEL: 090-6514-4197
    span FAX: 03-3978-1345
  p: small &copy; Ichou shinri office. All rights reserved.
