footer#footer
  p.u-mb16
    //- subject=お問い合わせ - いちょう心理オフィス
    a.contact(href='mailto:ichou.shinri@gmail.com?subject=%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b%20%2d%20%e3%81%84%e3%81%a1%e3%82%87%e3%81%86%e5%bf%83%e7%90%86%e3%82%aa%e3%83%95%e3%82%a3%e3%82%b9') お問い合わせ
  p.u-mb8
    span.u-mr20 TEL: 090-6514-4197
    span FAX: 03-3978-1345
  p: small &copy; Ichou shinri office. All rights reserved.
